@font-face {
    font-family: 'Lato-Regular';
    src: url('../Lato2OFL/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../Lato2OFL/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../Lato2OFL/Lato-Light.ttf');
}

body {
    margin: 0;
    font-family: 'Lato';
}

header {
    font-size: 64px;
    padding: 15px 25px;
    font-family: 'Lato-Bold';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

header a {
    text-decoration: none;
}

header > a {
    margin-right: 50px;
}

header > ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

header > ul > li {
    font-size: 40px;
    padding: 5px;
}

header > ul > li > a {
    transition-duration: 200ms;
}

main {
    min-height: 2000px;
    padding: 30px;
}
 
main > article {
    margin: 10px;
    padding: 10px;
    border: 5px dotted;
    border-radius: 20px;
    transition-duration: 200ms;
    width: min-content;
    height: 370px;
    display: inline-block;
    float: none;
    vertical-align: top;
}

main > article img {
    width: 400px;
    height: 200px;
    padding-bottom: 7px;
    border-radius: 12px;
}

main > article a {
    text-decoration: none;
}

.tool-title {
    border-top: 2px solid;
    font-size: 2em;
    margin: 5px 0 10px 0;
    padding-top: 10px;
    font-family: 'Lato-Regular';
    display: block;
}

.tool-desc {
    font-size: 1.5em;
    font-family: 'Lato-Light';
    display: block;
}

.tool-sub {
    border: none;
}

.regular {
    font-family: 'Lato-Regular';
}

input, button {
    font-size: 1.5em;
    font-family: 'Lato-Light';
    margin: 15px;
    margin-left: 0;
}

.normal-input {
    width: 158px;
}

button {
    width: auto;
    padding: 2px 7px;
}

.big-input {
    width: 50%;
}

.small-input {
    width: 85px;
    margin-right: 15px;
}

.result-box {
    display: flex;
    align-items: end;
    margin: 10px 0;
}

.result {
    border: 1px solid #333;
    height: 1.3em;
    text-align: center;
    padding: 0 7px;
    min-width: 64px;
    flex-shrink: 0;
    margin: 0 10px;
}

.big-result {
    min-width: 150px;
}

#result {
    min-width: 107px;
}

#take-quantile-1, #take-quantile-2 {
    transform: scale(1.5);
    margin: 0 0.5em 0 1.5em;
}

#take-quantile-box-1 {
    display: none;
}

#take-quantile-box-2 {
    display: flex;
}

#quantile-box {
    display: flex;
}

#value-to {
    margin: 7px 15px;
}

@media (max-width: 1475px) {
    header {
        display: block;
        font-size: 45px;
        padding: 10px 0;
    }

    header > a {
        margin-left: 10px;
    }

    header > ul {
        display: block;
        width: 100%;
        width: max-content;
        padding: 0;
        padding-left: 20px;
    }

    header > ul > li {
        font-size: 30px;
        margin: 0;
    }

    header > ul > li {
        margin: 10px 0;
    }  
    
    main > article {
        height: 440px;
    }

    main > article img {
        width: 16em;
        height: 8em;
    }

    button {
        margin: 10px 0;
    }

    #take-quantile-box {
        display: block;
    }
}

@media (max-width: 640px) {
    .result-desc {
        width: 100%;
    }

    .noresp {
        width: min-content;
    }

    #take-quantile-box-1 {
        display: flex;
    }

    #take-quantile-box-2 {
        display: none;
    }

    #converter-box {
        display: block;
    }

    #value-to {
        margin-left: 0;
    }

}